* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 60px 100px 60px 100px;
  background-color: whitesmoke;
}

h3 {
  color: #333;
  text-align: justify;
}
form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

input {
  height: 20px;
  width: 400px;
  border-radius: 5px;
}

.input-mensagem {
  height: 200px;
  width: 400px;
  border-radius: 5px;
}

button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-top: 50px;
}

.btn-cancelar {
  background-color: rgb(71, 12, 12);
  color: aliceblue;
}

.btn-enviar {
  background-color: rgb(7, 56, 7);
  color: aliceblue;
}
